name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}
permissions:
  contents: write
  issues: write
  packages: write
  pull-requests: write
env:
  HUSKY: '0'
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Setup git config
        run: |
          git config --global user.email "ockacru+git@gmail.com"
          git config --global user.name "changesets-bot"
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7.26.3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.14.2
          cache: 'pnpm'
      - name: Install
        run: pnpm install --frozen-lockfile
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
